body * {
    border: 1px rgb(220, 220, 220) solid;
}

.flex-container {
    display: flex;
    margin: auto;
    margin-top: 50px;
    flex-wrap: wrap;
    align-content: start;
}

.reset-button {
    display: flex;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
}